<!-- Edit existing class html -->
<div ng-hide="classDetailCtrl.isNewClass" class="container-fluid" style="margin: 10px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit {{classDetailCtrl.currentClass.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p><b>Class Name</b></p>
                    <input ng-model="classDetailCtrl.currentClass.name" class="form-control" type="text">
                </div>
                <div class="col-md-6">
                    <p><b>Teacher</b></p>
                    <select class="form-control" ng-options="teacher.teacherId as teacher.name for teacher in classDetailCtrl.teachers" ng-model="classDetailCtrl.currentClass.teacherId">
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p><b>Start Date</b></p>
                    <input ng-model="classDetailCtrl.currentClass.startDate" class="form-control" type="text" placeholder="2016-01-01">
                </div>
                <div class="col-md-6">
                    <p><b>End Date</b></p>
                    <input ng-model="classDetailCtrl.currentClass.endDate" class="form-control" type="text" placeholder="2016-12-01">
                </div>
            </div>
            <br>
            <button ng-click="classDetailCtrl.updateClass(classDetailCtrl.classId, classDetailCtrl.currentClass)" type="button" class="btn btn-primary" style="float: right;">Save Changes</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">These students are currently enrolled in {{classDetailCtrl.currentClass.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <select class="form-control" ng-options="student.studentId as student.name for student in classDetailCtrl.students" ng-model="classDetailCtrl.newStudentId">
                        <option value="" disabled selected>--- Add Student To Class ---</option> <!-- TODO: figure out how to center this -->
                    </select>
                </div>
                <button ng-click="classDetailCtrl.addStudentToClass(classDetailCtrl.classId, classDetailCtrl.newStudentId)" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Student To Class
                </button>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Classes</th>
                    <th></th>
                </thead>
                <tr ng-repeat="student in classDetailCtrl.currentClass.students">
                    <td ui-sref="student.detail({id:{{student.studentId}}})" style="cursor: pointer;">{{student.name}}</td>
                    <td ui-sref="student.detail({id:{{student.studentId}}})" style="cursor: pointer;">{{student.email}}</td>
                    <td ui-sref="student.detail({id:{{student.studentId}}})" style="cursor: pointer;">{{student.telephone}}</td>
                    <td ui-sref="student.detail({id:{{student.studentId}}})" style="cursor: pointer;">{{student.classes}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="classDetailCtrl.removeStudentFromClass(classDetailCtrl.classId, student.studentId)">&nbsp;X&nbsp;</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Add new class html -->
<div ng-show="classDetailCtrl.isNewClass" class="container-fluid" style="margin: 10px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Class</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <p><b>Class Name</b></p>
                    <input ng-model="classDetailCtrl.newClass.name" class="form-control" type="text" placeholder="Cohort 69">
                </div>
                <div class="col-md-8">
                    <p><b>Description</b></p>
                    <input ng-model="classDetailCtrl.newClass.description" class="form-control" type="text" placeholder="John Smith teaches all the things">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p><b>Teacher</b></p>
                    <select class="form-control" ng-model="classDetailCtrl.newClass.teacherId">
                        <option value="" disabled selected ><span>--- Select Teacher ---</span></option>
                <!-- TODO: figure out how to center this -->
                <option ng-repeat="teacher in classDetailCtrl.teachers " ng-value="teacher.teacherId ">{{teacher.name}}</option>
            </select>
        </div>
        <div class="col-md-3 ">
            <p><b>Start Date</b></p>
            <input ng-model="classDetailCtrl.newClass.startDate " class="form-control " type="date "  placeholder="2016-01-01 ">
        </div>
        <div class="col-md-3 ">
            <p><b>End Date</b></p>
            <input ng-model="classDetailCtrl.newClass.endDate " class="form-control " type="date "  placeholder="2016-12-01 ">
        </div>
        <div class="col-md-2 ">
            <p><b>Night Class?</b></p>
            <input ng-model="classDetailCtrl.newClass.isNightClass " class="form-control " type="text "  placeholder="true/false ">
        </div>
    </div>
    <br>
    <button ng-click="classDetailCtrl.createClass(classDetailCtrl.newClass) " type="button " class="btn btn-primary " style="float: right; ">
        <span class="glyphicon glyphicon-plus "></span>&nbsp;&nbsp;Add Class
    </button>
</div>
</div>
</div>
