<div class="container-fluid" style="margin: 10px;">
    <button ui-sref="class.detail" type="button" class="btn btn-primary" style="float: right;">+ Add Class</button>
    <table class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Teacher</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Students</th>
            <th></th>
        </thead>
        <tr ng-repeat="class in classGridCtrl.classes"> 
            <!-- ng-repeat will go here -->
            <td>{{class.name}}</td>
            <td>{{class.teacher}}</td>
            <td>{{class.startDate}}</td>
            <td>{{class.endDate}}</td>
            <td>{{class.students}}</td>
            <td>
                <button ui-sref="class.detail" type="button" class="btn btn-primary" ng-click="">Edit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" ng-click="classGridCtrl.removeClass(class)">&nbsp;X&nbsp;</button>
            </td>
        </tr>
    </table>
</div>
