<div class="container-fluid" style="margin: 10px;">
    <h1>Students</h1>
    <button ng-click="newStudent = true" ui-sref="student.detail" type="button" class="btn btn-primary" style="float: right;">+ Add Student</button>
    <table class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Classes</th>
            <th></th>
        </thead>
        <tr ng-repeat="student in studentGridCtrl.students" ui-sref="student.detail({id:{{student.studentId}}})" style="cursor: pointer;"> <!-- TODO: Add a sortBy  -->
            <td>{{student.name}}</td>
            <td>{{student.emailAddress}}</td>
            <td>{{student.telephone}}</td>
            <td>{{student.classes}}</td>
            <td>
                <button ui-sref="student.detail({id:{{student.studentId}}})" type="button" class="btn btn-primary">Edit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" ng-click="studentGridCtrl.removeStudent(student)">&nbsp;X&nbsp;</button>
            </td>
        </tr>
    </table>
</div>
