<div ng-hide="studentDetailCtrl.isNewStudent" class="container-fluid" style="margin: 10px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit {{studentDetailCtrl.currentStudent.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <p><b>Student's Full Name</b></p>
                    <input ng-model="studentDetailCtrl.currentStudent.name" class="form-control" type="text">
                </div>
                <div class="col-md-4">
                    <p><b>Email</b></p>
                    <input ng-model="studentDetailCtrl.currentStudent.emailAddress" class="form-control" type="text">
                </div>
                <div class="col-md-4">
                    <p><b>Telephone</b></p>
                    <input ng-model="studentDetailCtrl.currentStudent.telephone" class="form-control" type="text">
                </div>
            </div>
            <br>
            <button ng-click="studentDetailCtrl.updateStudent(studentDetailCtrl.studentId, studentDetailCtrl.currentStudent)" type="button" class="btn btn-primary" style="float: right;">Save Changes</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{studentDetailCtrl.currentStudent.name}} is enrolled in the following classes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <th>Class Name</th>
                    <th>Teacher</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </thead>
                <tr ng-repeat="class in studentDetailCtrl.currentStudent.classes" ui-sref="class.detail({id:{{class.classId}}})" style="cursor: pointer;">
                    <td>{{class.name}}</td>
                    <td>{{class.teacher}}</td>
                    <td>{{class.startDate}}</td>
                    <td>{{class.endDate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-show="studentDetailCtrl.isNewStudent" class="container-fluid" style="margin: 10px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Student</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <p><b>Full Name</b></p>
                    <input ng-model="studentDetailCtrl.newStudent.name" class="form-control" type="text"  placeholder="John Smith">
                </div>
                <div class="col-md-4">
                    <p><b>Email</b></p>
                    <input ng-model="studentDetailCtrl.newStudent.emailAddress" class="form-control" type="text"  placeholder="john@smith.com">
                </div>
                <div class="col-md-2">
                    <p><b>Telephone</b></p>
                    <input ng-model="studentDetailCtrl.newStudent.telephone" class="form-control" type="text"  placeholder="123-456-7890">
                </div>
                <div class="col-md-2">
                    <p><b>Criminal Record?</b></p>
                    <input ng-model="studentDetailCtrl.newStudent.hasCriminalRecord" class="form-control" type="text"  placeholder="true/false">
                </div>
            </div>
            <br>
            <button ng-click="studentDetailCtrl.createStudent(studentDetailCtrl.newStudent)" type="button" class="btn btn-primary" style="float: right;">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Student
            </button>
        </div>
    </div>
</div>
